<h1>Editing event</h1>

<% facebook_form_for(@event) do |f| %>
  <%= f.error_messages %>

    <%= f.text_area :title %>
    <%= f.text_area :description %>
    <%= f.text_area :category %>
    <%= f.text_area :subcategory %>
    <%= f.text_area :location %>
    <%= f.text_area :city %>
    <%= f.text_area :privacy_type %>
    <%= f.datetime_select :start_time %>
    <%= f.datetime_select :end_time %>
    <%= f.text_area :phone %>
    <%= f.text_area :email %>
    <%= f.text_field :page_id %>
    <%= f.text_area :tagline %>
    <%= f.text_area :host %>
    <input type="hidden" id="listing_id" name="event[listing_id]" value="<%= @event.listing_id%>" />
    <%= f.buttons "Update" %>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
