<% if @category_id %>
  Search Result in Category: <b><%= Category.find(@category_id).description%></b><br/>
<% elsif @query %>
  Search Result with query: <b><%=@query%></b><br/>
<% end %>

<%unless (@listings.nil? || @listings.size < 1) %>
  <table cellpadding="3">
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th>Description</th>
      <th>Category</th>
      <th>Item Status</th>
    </tr>

    <% for listing in @listings %>
      <tr onmouseover="Animation(this).to('background', '<%=MOUSE_OVER_COLOR%>').go(); return false;"
          onmouseout="Animation(this).to('background', '<%=MOUSE_OUT_COLOR%>').go(); return false;">
        <td>

          <div id="listing_<%=listing.id%>_link"
               onmouseout="Animation(document.getElementById('listing_<%=listing.id %>')).to('height', '0px').to('opacity', 0).hide().go(); return false;"
               onmouseover="Animation(document.getElementById('listing_<%=listing.id %>')).to('height', 'auto').from('0px').to('width', 'auto').from('0px').to('opacity', 1).from(0).blind().show().go(); return false;"
               >
                 <%= link_to listing.title, listing %>
          </div>
          <div id="listing_<%=listing.id %>" style="display: none" class="popupdiv">
            <% if !listing.photos.empty? %>
              <% photo = listing.photos[0] %>
              <% if photo.parent_id.nil? %> <!-- This insures that we are not getting a thumbnail file from attachment_fu. -->
                <% if !photo.small_fb_image.nil? %>
                  <%= image_tag(photo.small_fb_image, {:title => photo.title, :alt => photo.title}) %>
                  <!-- displaying with Facebook images, rather than local image,
                  not using photo.public_filename(:thumb), to save bandwidth -->
                <% end %>
              <% end %>
            <% end %>
          </div>

      <style>
        .popupdiv { position:absolute;
                    display:none;z-index:10;color:#FFF;
                    background-color:#3860bb;border-bottom:1px solid #000;
                    border-top:1px solid #000;border-left:1px solid #000;
                    border-right:1px solid #000;
        }
      </style>


    </td>
    <td><%= fb_name User.find(listing.user.id), :possessive => false, :useyou => true %></td>
    <td><%=h listing.description %></td>
    <td>
      <% if !listing.category_id.nil? %>
        <%= link_to (Category.find(listing.category_id)).description, listings_path(:category_id => listing.category_id) %>
      <% else %>
        undefined
      <%end%>
    </td>
    <td><%=h listing.status %></td>
    <td>
      <% if listing.public? %>
        <%= link_to 'Show Detail', listing %>
      <% end %>
    </td>
    </tr>
  <% end %>
  </table>
<%else%>
  <br>Search returned zero results. Try again.</br>
<%end%>

<br/>

<!-- need to carry search[query] & search[search_type], otherwise it breaks the
search_controller.erb with nil -->
<%= will_paginate(@listings, :params => { 'search[query]' => @query,
    'search[search_type]' => @search_type} )%>


<%= link_to 'Start a new search', searches_path %>