<h1>Listing photos</h1>

<table>
  <tr>
  </tr>

  <% for photo in @photos %>
    <% if !photo.small_fb_image.nil? %>
      <tr onmouseover="Animation(this).to('background', '<%=MOUSE_OVER_COLOR%>').go(); return false;"
          onmouseout="Animation(this).to('background', '<%=MOUSE_OUT_COLOR%>').go(); return false;">
        <td>
          <%= link_to image_tag(photo.small_fb_image), edit_photo_path(photo) %>
          <!-- displaying with Facebook images, rather than local image,
          not using photo.public_filename(:thumb), to save bandwidth -->
        </td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= button_to 'Destroy', photo, :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New photo', new_photo_path %>
