<%= javascript_include_tag 'facebooker' %>

<div id="top">
  <div id="logo">
    <% if GROUP_LOGO %>
      <%= link_to image_tag(GROUP_LOGO, {:title => GROUP_LOGO, :alt => GROUP_LOGO}),
        "http://www.facebook.com/group.php?gid=#{FACEBOOK_GROUP_ID}&ref=ts" %>
    <%end %>
  </div>
  <div id="fb_permission_request">
    <% perm_url = check_app_extended_permission %>
    <% if !perm_url.nil? %>
    <br/><br/>
    <!--old way-->
    <!--<%= fb_prompt_permission :publish_stream, "Do you want to create newsfeed of your approved listing?" %><br/>-->
    <!--<fb:prompt-permission perms="read_stream,publish_stream"> Grant permission for status updates </fb:prompt-permission><br/>
    <fb:prompt-permission perms="create_event"> Grant for creating event for you </fb:prompt-permission><br/>-->
    <!--New way, with button instead-->
      <a href="#" class="UIButton UIButton_Gray UIActionButton" id="control_click"
         onclick="Facebook.showPermissionDialog('email,publish_stream,read_stream,create_event,rsvp_event,offline_access', function callthis(){
               document.setLocation('<%= home_index_url %>');
             }, false, '');">
        <span class="UIButton_Text">
          <span style="background-position: 0pt -410px;" class="UIButton_Icon UIButton_IconNoSpriteMap"/>
          <%="Grant needed permissions to this app"%>
        </span>
      </a>
  <% end %>
  </div>
</div>
<!-- http://www.facebook.com/connect/prompt_permissions.php  -->
<!-- change application permission at: http://www.facebook.com/editapps.php -->
<!-- http://wiki.developers.facebook.com/index.php/Permissions_(FQL) -->
<!-- http://wiki.developers.facebook.com/index.php/Extended_permissions -->
<!--<fb:prompt-permission perms="read_stream,publish_stream">Would you like our application to read from and post to your News Feed?</fb:prompt-permission>-->
<!-- see http://wiki.developers.facebook.com/index.php/Fb:prompt-permission -->
<!-- email, read_stream, publish_stream, offline_access, status_update, photo_upload, create_event, rsvp_event, sms, video_upload, create_note, share_item. -->


<style>
  #top {
    display: table;
  }
  #logo {
    float: left;
    width: 150px;
  }
  #fb_permission_request {
    width: 500px;
  }
</style>


<% rq_uri = self.request.path
current_tab = case rq_uri
when "/home", "/" then "home"
when "/home.fbml", "/" then "home" #Pagination
when "/admin", "/" then "admin"
when "/admin.fbml", "/" then "admin" #Pagination
when "/categories", "/" then "admin"
when "/categories.fbml", "/" then "admin" #Pagination
when "/util", "/" then "utils"
when "/util.fbml", "/" then "utils" #Pagination
when '/util/generate_export_url', "/" then "utils" #export excel file
when "/listings", "/" then "listings"
when "/listings.fbml", "/" then "listings" #Pagination
when "/searches" then "search"
when "/searches.fbml" then "search" #Pagination
when "/dosearch" then "search" #Search result
when "/searches/dosearch.fbml" then "search"
when "/searches/dosearch" then "search"
when "/invite" then "invite"
else "none"
end
%>

<br/>

<%= facebook_messages %>

<% fb_tabs do %>
<%= fb_tab_item "Home", home_index_path, :selected=> (current_tab == "home"), :align =>'left' %>
<%= fb_tab_item "Search", searches_path, :selected=>( current_tab == "search"), :align => 'left'%>
<%= fb_tab_item "Listing", listings_path, :selected=> (current_tab == "listings"), :align =>'left' %>
<%= fb_tab_item "Utility", util_index_path, :selected=> (current_tab == "utils"), :align =>'left' %>
<%= fb_tab_item "Invite Friends", invite_util_path, :selected=> (current_tab == "invite"), :align =>'left' %>
<!-- admin tab on the right side -->
<% if verify_admin_status %>
  <!-- only admins of the group or superuser have access to see admin tab -->
  <%= fb_tab_item "Admin", admin_index_path, :selected=> (current_tab == "admin"), :align =>'right' %>
<% end %>
<%end%>

<!-- TODO Custom Tabs, see http://www.snipe.net/2009/10/mini-site-facebook-static-fbml/ -->

<br/>

<!-- Authenticating the user membership -->
<% if verify_user_group_membership %>
<!--Group Membership status => <%=verify_user_group_membership%>-->
<!-- Now, showing contents to authorized user -->
<% if (current_user.eula_status.nil? || current_user.eula_status == false)%>
  <p style="background-color:yellow">
    <b>You must accept the <%= link_to "User Agreement", show_disclaimer_util_path%> before using this application.</b>
    <br/>
  </p>
<% end %>
<%= yield %>

<% else %>
<!-- else, suggest the user to join the group -->
<!--Group Membership status => <%= verify_user_group_membership%>-->
<br/>
<p style="background-color:yellow">
  Before you can use this application, you need to join the

  <a href="http://www.facebook.com/group.php?gid=<%=FACEBOOK_GROUP_ID%>" target="_blank"><%= get_group_name(FACEBOOK_GROUP_ID) %></a>
<!--
  <a href="#" class="UIButton UIButton_Gray UIActionButton" rel="async-post"
     ajaxify="/ajax/pages/fan_status.php?fbpage_id=<%=FACEBOOK_GROUP_ID%>&amp;add=1&amp;reload=1&amp;preserve_tab=1&amp;use_primer=1">
    <span class="UIButton_Text">
      <span style="background-position: 0pt -410px;" class="UIButton_Icon UIButton_IconNoSpriteMap"/>
      <%=  get_group_name(FACEBOOK_GROUP_ID) %>
    </span></a>
  group.
-->
<br/>
</p>
<% end %>

<br/><br/>

<%= render :partial => RAILS_ROOT + "/app/views/layouts/css.fbml.erb"  %>

<hr></hr>
<%= render :partial => RAILS_ROOT + "/app/views/layouts/copyright.fbml.erb"  %>